**Factorial of a number using for loop**

In [ ]:
data = int(input("Enter The Number:"))
fact=1
for i in range(1,data+1):
    fact=fact*i
print(fact)

Enter The Number:6
720

Question 2 **Pattern printing**

In [ ]:
data = int(input("Enter N:"))
for i in range(1,data+1):
    for j in range(1,i+1):
        print(j,end="")
    print("")

Enter N:3
1
12
123

**Question 3**

In [ ]:
while(True):
    data = int(input("Enter an positive integer:"))
    if data>0:
        positive_number = data
        break
    else:
        print("Please Enter an positive integer.")

if(data%2==1):
    print("Weird")
elif(data%2==0):
    if data>=2 and data<=5:     #odd number is int concern here so havig data<5 or data<=5 are same thing.
        print("Not Weird")
    elif data>=6 and data<20:
        print("Weird")
    elif data>20:
        print("Not Weird")

Enter an positive integer:22
Not Weird

**Question 4** **Second smallest number form a list.**

In [ ]:
n = int(input("Enter data size:"))
data_list=[]
print("Sample Input")
for i in range(n):
    data =int(input())
    data_list.append(data)
print("Sample Output")

def second_minumum(data):
    min1=min2=float('inf')
    for i in data:
        if i <= min1:
            min1,min2=i,min1
        elif i<min2:
            min2=i
    return min2
secmin=second_minumum(data_list)
print(secmin)

Enter data size:5
Sample Input
34
67
12
90
30
Sample Output
30

this code with string data

In [ ]:
n = int(input())
data_list=[]
# print("Sample Input")
data =input()
dta =data.split(" ")
# [int(i) for i in dta]
for i in dta:
    v=int(i)
    data_list.append(v)
print("Output")

def second_minumum(data):
    min1=min2=float('inf')
    for i in data:
        if i <= min1:
            min1,min2=i,min1
        elif i < min2:
            min2=i
    return min2
secmin=second_minumum(data_list)
print(secmin)

10
8 10 4 6 89 29 12 77 66 5
Output
5

**Question 5**

*using operator*

In [ ]:
import operator
Students={'Rahim':3.76,'Kamal':3.85,'Amena':3.34,'Sabana':3.65}
print(Students)
sortedvalue = sorted(Students.items(), key=operator.itemgetter(1),reverse=True)
# print(sortedvalue)
for i in sortedvalue:
    print("{} {}".format(i[0],i[1]))

{'Rahim': 3.76, 'Kamal': 3.85, 'Amena': 3.34, 'Sabana': 3.65}
Kamal 3.85
Rahim 3.76
Sabana 3.65
Amena 3.34

**using list and lambda**

In [ ]:
Students={'Rahim':3.76,'Kamal':3.85,'Amena':3.34,'Sabana':3.65}
print(Students)
student = list(Students.items())
# print(student)
print(sorted(student, key=lambda x: x[1],reverse=True))
student.sort(key=lambda x:x[1],reverse=True)
# print(student)
for i in student:
    print("{} {}".format(i[0],i[1]))

{'Rahim': 3.76, 'Kamal': 3.85, 'Amena': 3.34, 'Sabana': 3.65}
[('Kamal', 3.85), ('Rahim', 3.76), ('Sabana', 3.65), ('Amena', 3.34)]
Kamal 3.85
Rahim 3.76
Sabana 3.65
Amena 3.34

**using function**

In [ ]:
def Dictonary_sorting(data):
    return data[1]


Students={'Rahim':3.76,'Kamal':3.85,'Amena':3.34,'Sabana':3.65}
# print(Students)
student = list(Students.items())
student.sort(key=Dictonary_sorting,reverse=True)
# print(student)
for i in student:
    print("{} {}".format(i[0],i[1]))

Kamal 3.85
Rahim 3.76
Sabana 3.65
Amena 3.34